.page__header {
}

.header__container {
  display: flex;
  justify-content: center;
}
.header__title {
  background-image: url('../images/tarjetas-molonas.png');
  background-repeat: no-repeat;
  color:black;
  width:417px;
  height:1px;
  padding-top:107px;
  overflow:hidden;
 }

