.page__main {
  height:58vh;
  background-color:yellow;
}

.main__description {
  text-align: center;
  margin:35px 28px 0;
}

.description__title {
  font-size:$txt-lg;
  font-family:$font-merriweather;
  color:$color-landing-title;
}
.description__text {
  font-size:$txt-xs;
  font-family:$font-open;
  color:$color-landing-description;
}
.main__steps {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: $font-open;
  font-size: $txt-xs;
  border: 1.5px solid $orange;
  border-radius: 4px;
  color: $grey-dark;
  padding:15px 20px 18px;
  margin:18px 25.6px 48.6px;
}
.steps__item {}

.item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__icon {
  color:$orange;
  font-size: $txt-icon;
}
.item__name {}
.start__link {
  text-decoration: none;
  font-family: $font-open;
  font-size: $txt-md;
  text-transform: uppercase;
  color:$white;
  background-color: $blue;
  padding: 10px 20px;
  border-radius: 21px;
}




