/* Import de los partials scss*/
@import 'core/_variables.scss';
@import 'core/_mixins.scss';
@import 'partials/_header.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';

* {
  margin: 0;
  padding: 0;
}
body {

  height: 100vh;
  background-color: $grey-light;
  text-align: center;
}
