<fieldset class="collapsable form__fill">
    <div class="collapsable__header collapsable__fill">
        <i class="far fa-keyboard txt__color--orange"></i>
        <h3 class="collapsable__title title__fill">rellena</h3>
        <i class="fas fa-chevron-down txt__color--grey-dark"></i>
    </div>
    <div class="fill__container collapsable__item">
        <div class="fill__items items-name">
            <label class="field__tag tag-name" for="FullName">nombre completo</label>
            <input class="form__field form__field-name" type="text" id="FullName" name="FullName" placeholder="Ej: Sally Jill">
        </div>
        <div class="fill__items items-job">
            <label class="field__tag tag-job" for="job">puesto</label>
            <input class="form__field form__field-job" type="text" id="job" name="job" placeholder="Ej: Front-end unicorn">
        </div>
        <div class="fill__items items-photo">
            <label class="field__tag tag-photo" for="photo">Imagen de perfil</label>
            <div class="photo__box">
                <button class="form__field form__field-photo"> Añadir imagen</button>
                <div class="preview__photo"></div>
            </div>
        </div>
        <div class="fill__items items-email">
            <label class="field__tag tag-mail" for="mail">email</label>
            <input class="form__field form__field-mail" type="email" id="mail" name="mail" placeholder="Ej:sally-hill@gmail.com">
        </div>
        <div class="fill__items items-phone">
            <label class="field__tag tag-phone" for="phone">teléfono</label>
            <input class="form__field form__field-phone" type="tel" id="phone" name="phone" placeholder="Ej:555-55-55-55">
        </div>
        <div class="fill__items items-linkedin">
            <label class="field__tag tag-linkedin" for="linkedin">linkedin</label>
            <input class="form__field form__field-linkedin" type="text" id="linkedin" name="linkedin" placeholder="Ej:linkedin.com/in/sally.hill">
        </div>
        <div class="fill__items items-github">
            <label class="field__tag tag-github" for="github">github</label>
            <input class="form__field form__field-github" type="text" id="github" name="github" placeholder="Ej:@sally-hill">
        </div>
    </div>
</fieldset>
