<section class="card-preview">
  <div class="card-preview__container">
    <button class="button--reset">
      <i class="far fa-trash-alt"></i>
      <span class="button__text">Reset</span>
    </button>
    <div class="preview-card">
      <div class="preview-card__title-container">
        <h4 class="preview-card__name">Nombre Apellido</h4>
        <h5 class="preview-card__career">Profesión</h5>
      </div>
      <div class="preview-card__img"></div>
      <ul class="preview-card__social-list">
        <li class="social-list__item">
          <i class="fas fa-mobile-alt social-list__icon"></i>
        </li>
        <li class="social-list__item">
          <i class="far fa-envelope social-list__icon"></i> </li>
        <li class="social-list__item">
          <i class="fab fa-linkedin-in social-list__icon"></i>
        </li>
        <li class="social-list__item">
          <i class="fab fa-github-alt social-list__icon"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
