<div class="collapsable">
    <div class="collapsable__header">
        <i class="fas fa-share-alt txt__color--orange"></i>
        <h2 class="collapsable__title">Comparte</h2>
        <i class="fas fa-chevron-down txt__color--grey-dark"></i>
    </div>

    <div class="form__submit collapsable__container collapsable__item">
        <button type="submit" class="form__button button-card">
      <i class="far fa-address-card"></i>
      <span class="form__button-text">Crear tarjeta</span>
    </button>
    </div>
</div>

<div class="form__success collapsable collapsable__container">
    <h2 class="succes__title txt__color--grey-dark">La tarjeta ha sido creada con exito</h2>
    <a href="" class="success__link">url??????</a>
    <button class="success__button-twitter button-twitter">
    <i class="fab fa-twitter "></i>
    <span class="success__button-text">Compartir en twitter</span>
  </button>
</div>
