<div class="collapsable collapsable__fill">
    <i class="far fa-keyboard"></i>
    <h3 class="fill__title fill__title-2">rellena</h3>
    <form class="collapsable__form collapsable__form-fill">
        <fieldset class="form__fill">
            <div class="fill__items items-name">
                <label class="field__tag tag-name" for="FullName">nombre completo</label>
                <input type="text" id="FullName" name="FullName">
            </div>
            <div class="fill__items items-job">
                <label class="field__tag tag-job" for="job">puesto</label>
                <input type="text" id="job" name="job">
            </div>

            <div class="fill__items items-photo">
                <label class="field__tag tag-photo" for="photo"></label>

                <input type="file" name="photo" value="Añadir imagen">
                <div class="little__box"></div>
            </div>
            <div class="fill__items items-email">
                <label class="field__tag tag-mail" for="mail">email</label>
                <input type="email" id="mail" name="mail" placeholder="Ej:sally-hill@gmail.com">
            </div>
            <div class="fill__items items-phone">
                <label class="field__tag tag-phone" for="phone">teléfono</label>
                <input type="tel" id="phone" name="phone" placeholder="Ej:555-55-55-55">
            </div>
            <div class="fill__items items-linkedin">
                <label class="field__tag tag-linkedin" for="linkedin">linkedin</label>
                <input type="text" id="linkedin" name="linkedin" placeholder="Ej:linkedin.com/in/sally.hill">
            </div>
            <div class="fill__items items-github">
                <label class="field__tag tag-github" for="github">github</label>
                <input type="text" id="github" name="github" placeholder="Ej:@sally-hill">
            </div>
        </fieldset>
    </form>
</div>