<div class="collapsable">
  <div class="collapsable__header">
    <i class="collapsable__icon"></i>
    <h2 class="collapsable__title">rellena</h2>
    <i class="collapsable__arrow"></i>
</div>

<fieldset class="form__filedset user_data">
  <div class="user_name">
    <label class="form__label" for="user__name">Nombre completo</label>
    <input class="form__input" id="user_name" type="text" placeholder="Ej:Sally Jill">
  </div>
  <div class="user__job">
      <label class="form__label" for="user__job">Puesto</label>
      <input class="form__input" id="user_job" type="text" placeholder="Ej:Front-end unicorn">
  </div>
  <div class="user__image"></div>
  <div class="user__email">
      <label class="form__label" for="user__email">Email</label>
      <input class="form__input" id="user__email" type="mail" placeholder="Ej:sally-jill@gmial.com">
  </div>
  <div class="user__telephone">
      <label class="form__label" for="user__telephone">Teléfono</label>
      <input class="form__input" id="user__telephone" type="number" placeholder="Ej:555-55-55-55">
  </div>
  <div class="user__linkedin">
      <label class="form__label" for="user__linkedin">LinkedIn</label>
      <input class="form__input" id="user__linkedin" type="number" placeholder="Ej:linkedin.com/in/sallyjill">
  </div>
  <div class="user__github">
      <label class="form__label" for="user__github">Github</label>
      <input class="form__input" id="user__github" type="number" placeholder="Ej:@sally-jill">
  </div>
</fieldset>
