<main class="page__main">
    <h1 class="header__title">Awesome profile cards</h1>
    <div class="main__description">
      <h2 class="description__title">Crea tu tarjeta de visita</h2>
      <p class="description__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>

    <ul class="main__steps">
      <li class="steps__item">
        <div class="item__container">
          <i class="item__icon far fa-object-ungroup">
          </i>
          <span class="item__name">diseña</span>
        </div>
      </li>
      <li class="steps__item">
        <div class="item__container">
          <i class="item__icon far fa-keyboard"></i>
          <span class="item__name">rellena</span>
        </div>
      </li>
      <li class="steps__item">
        <div class="item__container">
          <i class="item__icon fas fa-share-alt"></i>
          <span class="item__name">comparte</span>
        </div>
      </li>
    </ul>
    <a class="start__link" href="cards.html">comenzar</a>
  </main>
