<main class="page__main">
    <div class="main__description">
      <h2 class="description__title"></h2>
      <p class="description__text"></p>
    </div>
    <ul class="main__steps">
      <li class="steps__item">
        <div class="item__container">
          <i class="item__icon"></i>
          <span class="item__name"></span>
        </div>
      </li>
      <li class="steps__item">
        <div class="item__container">
          <i class="item__icon"></i>
          <span class="item__name"></span>
        </div>
      </li>
      <li class="steps__item">
        <div class="item__container">
          <i class="item__icon"></i>
          <span class="item__name"></span>
        </div>
      </li>
    </ul>
    <a class="start__link" href="cards.html"></a>
  </main>
